@charset 'utf-8';

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: var(--main-color);
}

hr,
.hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  font: 1.8rem "Pretendard", "Montserrat", sans-serif;
}

:root {
  font-size: 62.5%;

  --title-color: #fff;
  --text-hover-color: #1e90ff;
  --text-hover-color2: #f39c12;
}

.indicator {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  /*   transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  gap: 3rem;

  /* fullpage 초기화 이후 사라진 것들을 보이게. */
  z-index: 10;
}

.indicator li {
  width: 32px;
  height: 1px;
  background: #fff;
  opacity: 0.8;
  cursor: pointer;

  transition: 0.3s;
}

.indicator li.on {
  width: 52px;
  height: 2px;
  opacity: 1;
}

.indicator b {
  display: none;
}
